body{
  color: #333;
  margin-top: 70px;
  font-size: 16px;
}

h1{
    text-align: center;
}

#linkCambio{
    font-size: 26px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 60px;
    background-color: #aaffaa;
}

section {

}

.cuad {
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #ccc;
}

.cuad_title {
  background-color: #ccc;
  color: #fff;
  padding: 5px;
  padding-left: 20px;
  border-radius: 10px 10px 0px 0px;
  font-size: 22px;
}
