<html>
	<head>
	  <title>Corre PROA</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
	  <script src="js/angular.min.js"></script>
	  <script src="js/ui-bootstrap-tpls-1.1.2.min.js"></script>
	  <script src="js/app.js"></script>
	</head>


	<body ng-app="myApp" ng-controller="ctrlMain">
		<header>
			<nav class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
	      <a class="navbar-brand">Corre Proa 2016</a>
				<ul class="nav navbar-nav">
            <li ng-class="{'active': pestaniaActiva==1}" ng-click="activarPestania(1)"><a href="#">Participantes</a></li>
            <li ng-class="{'active': pestaniaActiva==2}" ng-click="activarPestania(2)"><a href="#">Maratón</a></li>
            <!--<li ng-class="{'active': pestaniaActiva==3}" ng-click="activarPestania(3)"><a href="#">Fotos</a></li>-->
        </ul>
    	</div>
			<div class="nav navbar-nav navbar-right"><img src="img/logo.png" style="height: 50px; padding: 5px;" > </div>
		</nav>
		</header>

		<section id="section_participantes" ng-show="pestaniaActiva == 1" class="container">
			<div class ="col-md-6">
				<div class="cuad_title">Registrar Participante</div>
				<div class="cuad">
					<form class="form">
						<div class="form-group row">
						  <label class="col-md-3 col-form-label">Número </label>
						  <div class="col-md-9">
								<span >{{ nuevoParticipante.nro }}</span>
								<button type="button" ng-click="generarNuevoNroParticipante()" class="btn btn-default pull-right"><i class="fa fa-refresh" aria-hidden="true"></i>
</button>
						  </div>
						</div>
						<div class="form-group row" ng-class="{'has-error': nuevoParticipanteValido.apellido}" >
						  <label style for="apellido" class="col-md-3">Apellido </label>
						  <div class="col-md-9">
						    <input class="form-control" type="text" capitalize id="input-apellido" ng-model="nuevoParticipante.apellido">
						  </div>
						</div>
						<div class="form-group row" ng-class="{'has-error': nuevoParticipanteValido.nombre}" >
							<label for="apellido" class="col-md-3 col-form-label">Nombre </label>
						  <div class="col-md-9">
						    <input class="form-control" type="text" capitalize id="input-nombre" ng-model="nuevoParticipante.nombre">
						  </div>
						</div>

						<div class="form-group row" ng-class="{'has-error': nuevoParticipanteValido.categoria}" >
							<label for="categoria" class="col-md-3 col-form-label">Categoría </label>
						  <div class="col-md-9">
						    <select class="form-control" type="text" id="input-categoria" ng-model="nuevoParticipante.categoria">
									<option value="1">Participante (3K)</option>
									<option value="2">Competidor (6K)</option>
								</select>
							</div>
						</div>

						<div class="form-group row" ng-class="{'has-error': nuevoParticipanteValido.dni}" >
						  <label for="apellido" class="col-md-3 col-form-label">DNI </label>
						  <div class="col-md-9">
						    <input class="form-control" type="text" id="input-dni" ng-model="nuevoParticipante.dni">
						  </div>
						</div>
						<div class="form-group row">
							<div class="col-md-12">
								<button type="button" class="btn btn-default pull-right"  ng-click="agregarParticipante()">Registrar</button>
							</div>
						</div>
					</form>
				</div>

				<br>
				<div class="cuad_title">Último Participante Registrado</div>
				<div class="cuad">
					<div id="ultimo_participante">
						{{ ultimoParticipanteRegistrado !== null ? ultimoParticipanteRegistrado.apellido+ ' '+ ultimoParticipanteRegistrado.nombre +' ('+ ultimoParticipanteRegistrado.nro +')':'' }}
					</div>
				</div>
				</div>


			<div class="col-md-6 lista_participantes" style="height: 100%;">
				<div class="cuad_title">
					<div class="row" style="margin: 0px; padding: 0px;">
						<span class="col-md-7">Lista de participantes</span>
						<span class="col-md-5"><select class="form-control" type="text" id="input-categoria" ng-model="filtroCategoria.categoria">
							<option value="0" selected>Todos</option>
							<option value="1">Participante (3K)</option>
							<option value="2">Competidor (6K)</option>
						</select></span>
					</div>
				</div>
					<div class="cuad" style="overflow-y: auto; height: 90%;  padding: 0px;">
						<table class="table table-striped" style="margin: 0px;">
							<th>#</th>
							<th>Apellido</th>
							<th>Nombre</th>
							<th>Cat</th>
							<th>Número</th>
							<th></th>
							<tr ng-repeat="participante in participantes | filter: (filtroCategoria.categoria != 0 || '') && filtroCategoria track by $index">
								<td>{{ $index + 1 }}</td>
								<td>{{ participante.apellido }}</td>
								<td>{{ participante.nombre }}</td>
								<td><span class="categoria" ng-class="{'participante': participante.categoria==1, 'competidor': participante.categoria==2}">{{ participante.categoria == 1?'3KM':'6KM' }}</span></td>
								<td>{{ participante.nro }}</td>
								<td style="padding: 5px;"><button type="button" title="Eliminar" class="btn btn-default" ng-click="eliminar_participante(participante)"><i class="fa fa-remove" aria-hidden="true"></i></button></td>
							</tr>
						</table>
					</div>
				</div>
			</div>


		</section>
<!-- SECCION MARATON -->
		<section id="section_corre" ng-show="pestaniaActiva == 2" class="container">
			<div class ="col-md-6">
				<div class="cuad_title">Cronómetro</div>
				<div class="cuad">
					<div class="row">
						<div class="cronometro" ng-model="elapsed">{{ elapsed }}</div>
					</div>
					<div class="row" style="margin: 0 auto;">
						<button type="button" class="col-md-offset-1 chrono-btn col-md-5 btn btn-success" ng-click="comenzar()"><i class="fa fa-play" ng-show="isPaused" aria-hidden="true"></i><i class="fa fa-pause" ng-show="!isPaused" aria-hidden="true"></i><span>&nbsp&nbsp</span><span ng-show="isPaused">Comenzar!</span><span ng-show="!isPaused">Pausar</span></button>
						<button type="button" class="col-md-offset-1 chrono-btn col-md-4 btn btn-default" ng-click="reiniciar()"><i class="fa fa-refresh" aria-hidden="true"></i><span>&nbsp&nbsp</span>Reiniciar</button>
					</div>
				</div>

				<br>
				<div class="cuad_title"><div class="row" style="margin: 0px; padding: 0px;"><span class="col-md-7">Últimas Llegadas</span> <button type="button" class="chrono-btn col-md-4 btn btn-default" ng-click="nuevaLlegada()" ng-disabled="isPaused">Nueva LLevada</button></div>
</div>
				<div class="cuad" style="height: 40%; overflow-y: auto; padding: 0px;">
					<table class="table table-striped" style="margin: 0px;">
						<th>#</th>
						<th>Tiempo</th>
						<th>Participante</th>
						<th></th>
						<tr ng-repeat="llegada in ultimasLlegadas track by $index">
							<td>{{ llegada.pos}}</td>
							<td>{{ llegada.tiempo }}</td>
							<td>
								<input type="text" autocomplete="on" autoclose="off" typeahead-min-length="2"
								uib-typeahead="participante as participante.apellido + ' ' + participante.nombre + ' ' + ' (' + participante.nro + ')'  for participante in obtenerParticipantes($viewValue)"
								class="form-control" ng-model="llegada.participante"
								typeahead-editable="false" capitalize />
							</td>
							<td><button type="button" class="btn btn-default" ng-disabled="llegada.participante === '' || llegada.participante === null || llegada.participante === undefined" ng-click="agregarLlegada(llegada.pos, llegada.tiempo, llegada.participante)"><i class="fa fa-save" aria-hidden="true"></i>&nbsp</button></td>
						</tr>
					</table>
				</div>
				</div>


			<div class="col-md-6 lista_participantes" style="height: 100%;">
				<div class="cuad_title">
					<div class="row" style="margin: 0px; padding: 0px;">
						<span class="col-md-7">Llegadas</span>
						<span class="col-md-5"><select class="form-control" type="text" id="input-categoria" ng-model="filtroCategoria_llegada.participante.categoria">
							<option value="0" selected>Todos</option>
							<option value="1">Participante (3K)</option>
							<option value="2">Competidor (6K)</option>
						</select></span>
					</div>
				</div>
					<div class="cuad" style="overflow-y: auto; height: 90%;  padding: 0px;">
						<table class="table table-striped" style="margin: 0px;">
							<th>#</th>
							<th>Tiempo</th>
							<th>Participante</th>
							<th>Nro</th>
							<th>Cat</th>
							<tr ng-repeat="llegada in llegadas | filter: (filtroCategoria_llegada.participante.categoria != 0 || '') && filtroCategoria_llegada | orderBy: 'pos'">
								<td>{{ llegada.pos}}</td>
								<td>{{ llegada.tiempo }}</td>
								<td>{{ llegada.participante.apellido + ' ' + llegada.participante.nombre}}</td>
								<td>{{ llegada.participante.nro}}</td>
								<td><span class="categoria" ng-class="{'participante': llegada.participante.categoria==1, 'competidor': llegada.participante.categoria==2}">{{ llegada.participante.categoria == 1?'3KM':'6KM' }}</span></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</section>

		<!-- SECCION FOTOS -->
		<section id="section_fotos" ng-show="pestaniaActiva == 3" class="container">
			<div class ="col-md-6">
				<div class="cuad_title">Previsualización</div>
				<div class="cuad">
						<div id="my_camera" style="width:320; height: 240; margin: 0 auto; display: block;" ></div>
				</div>
				<br>
				<div class="cuad_title"><div class="row" style="margin: 0px; padding: 0px;">
					<div class="cuad_title">Foto</div>
				</div>
			</div>
				<div class="cuad" style="height: 40%; overflow-y: auto; padding: 0px;">
					<table class="table table-striped" style="margin: 0px;">
						<th>#</th>
						<th>Tiempo</th>
						<th>Participante</th>
						<th></th>
						<tr ng-repeat="llegada in ultimasLlegadas track by $index">
							<td>{{ llegada.pos}}</td>
							<td>{{ llegada.tiempo }}</td>
							<td>
								<input type="text" autocomplete="on" autoclose="off" typeahead-min-length="2"
								uib-typeahead="participante as participante.apellido + ' ' + participante.nombre + ' ' + ' (' + participante.nro + ')'  for participante in obtenerParticipantes($viewValue)"
								class="form-control" ng-model="llegada.participante"
								typeahead-editable="false" capitalize />
							</td>
							<td><button type="button" class="btn btn-default" ng-disabled="llegada.participante === '' || llegada.participante === null || llegada.participante === undefined" ng-click="agregarLlegada(llegada.pos, llegada.tiempo, llegada.participante)"><i class="fa fa-save" aria-hidden="true"></i>&nbsp</button></td>
						</tr>
					</table>
				</div>
				</div>


			<div class="col-md-6 lista_participantes" style="height: 100%;">
				<div class="cuad_title">Previsualización</div>

				</div>
			</div>

			<script>
				/*Webcam.set({
							width: 640,
							height: 480,
							image_format: 'jpeg',
							jpeg_quality: 90
						});


				//Webcam.attach( document.getElementById('my_camera') );
				function take_snapshot() {
				  Webcam.snap( function(data_uri) {
				  	document.getElementById('results').innerHTML = '<img src="'+data_uri+'"/>';
						var fs = require('fs');
						// string generated by canvas.toDataURL()
						// strip off the data: url prefix to get just the base64-encoded bytes
						var data = data_uri.replace(/^data:image\/\w+;base64,/, "");
						var buf = new Buffer(data, 'base64');
						fs.writeFile('image.jpeg', buf, function(err) {
			          if(err) {
			              alert("ERROR guardando archivo foto.jpeg: "+err);
			          }
			      });
				  });
			}*/
			</script>
			<input type=button value="Take Snapshot" onClick="take_snapshot()"></input>
			<div id="results">Your captured image will appear here...</div>
	</body>
</html>
